#content {
  margin-left: 100px;
  margin-right: 260px;
  font-size:0.8em;
}

#content h2 {
  font-weight: bold;
  font-size: 120%;
  color: #009900;
  margin: 20px 0 10px;
}

#content p {
  margin-top: 10px;
  margin-left: 20px;
}

#content ul {
  margin-left: 60px;
}

#content li {
  list-style-type: disc;
}
