#content {
  margin-left: 100px;
}

#content h2 {
  font-weight: bold;
  font-size: 100%;
  color: #009900;
  margin: 40px 0 10px;
}

#content p {
  margin-top: 10px;
  margin-left: 20px;
  font-size:0.8em;
  width: 90%;
}

#lifestream {
  font-size: 90%;
  margin-left: 15px;
}
