#content {
  margin-left: 100px;
}

#content h2 {
  font-weight: bold;
  font-size: 100%;
  color: #009900;
  margin: 40px 0 10px;
}

#content p {
  margin-top: 10px;
  margin-left: 20px;
  font-size:0.8em;
  width: 90%;
}

#lifestream {
  font-size: 90%;
  margin-left: 15px;
}

li.photo {
  float: left;
  margin: 7px;
  opacity: 0.5;
  filter:alpha(opacity=50)
}

ul.photos {
  overflow: auto;
  margin: 30px 0 0 40px;
}

li.photo:hover {
  opacity: 0.9;
  filter:alpha(opacity=90)
}

div.update-content div.desc p {
  font-size: 1.0em !important;
}
