html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}



body {
  /* font-family: Verdana,"Bitstream Vera Sans",sans-serif; */
  font-family:'Lucida Grande','Lucida Sans Unicode','Lucida Sans','Geneva','Verdana',sans-serif;
  line-height: 1.4em;
  color: #7E7E7E;
}

a {
  color: #009900;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2.title {
  font-size: 150%;
  font-weight: bold;
  color: #009900;
  margin-bottom: 10px;
}

h2.title a {
  text-decoration: none;
}

img.thumb, .update-content img {
  opacity:0.4;
  filter:alpha(opacity=40)
}

img.open-link {
  opacity:0.4;
  margin-left: 10px;
  margin-top: 5px;
}

img.open-link:hover {
  opacity:0.8;
}

#main {
  margin: auto;
  width: 1000px;
}

#sidebar_wrapper {
  float:left;
  margin-left:-200px;
  width:200px;
}

#sidebar {
  padding: 15px;
  font-size: 0.8em;
  margin-top: 20px;
  line-height:1.5em;
}

#sidebar p.box {
  margin-top: 25px;
  line-height: 120%;
  text-align: right;
  padding-right: 20px;
  font-size: 0.9em;
}

#sidebar p.sidenote {
  text-align: right;
  margin-top: 10px;
  font-size: 70%;
  line-height: 110%;
  padding-right: 20px;
}

#feed_note p {
  margin-top: 10px;
  font-size: 70%;
  line-height: 110%;
  padding-right: 20px;
}


#sidebar ul.types {
  margin-top:30px;
  overflow: auto;
}

#sidebar ul.types li {
  float: left;
  padding: 3px;
}

#sidebar ul.types img {
  opacity:0.4;
  filter:alpha(opacity=40)
}

#sidebar .link {
  text-align: right;
}

.links {
  margin-top:25px;
  padding-right: 20px;
}

#content_wrapper {
  float:left;
  width:100%;
}

#content {
  margin-right:200px;
  padding: 50px 20px 40px 30px;
}

#content hr {
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 1px dotted lightgray;
  background-color: inherit;
  color: inherit;
}

.update {
  padding: 3px;
  margin: 5px;
}

.update .icon-update {
  float:left;
  padding: 8px 30px 3px 0;
}

.update .icon-update img {
  opacity:0.6;
  filter:alpha(opacity=60)
}

.update .pre-update {
  float:left;
  padding: 5px 25px 3px 5px;
  font-size: 0.7em;
}

.update-content {
  overflow: auto;
  padding: 3px;
  font-size: 0.8em;
}

div.update-content div.desc {
  font-size: 80%;
  line-height: 140%;
  margin-top: 5px;
}

update-content .photos ul {
  overflow: auto;
}

.photos ul li {
  float: left;
  list-style: none;
  padding: 5px;
}

#flash {
  margin-bottom: 20px;
  color: #009900;
  cursor: pointer;
  font-size:0.9em;
}

div.comment div.desc p {
  margin-top: 5px;
}

div.comment div.desc ul li {
  list-style: disc inside none;
}

/*div.update:hover {
  -moz-border-radius: 7px;
  background: #FFFFE0;
}*/

div.update-content a.title {
  text-decoration: none;
}

.search {
  -moz-border-radius: 3px;
  background: url("/media/img/search-light.gif") no-repeat scroll 3px 3px #FFFFFF;
  border: 1px solid #E5E5E5;
  color: #AAAAAA;
  font-size: 11px;
  margin-bottom:2px;
  margin-top: 30px;
  padding: 5px 7px 5px 23px;
  width: 120px;
}

#sidebar div.box {
  margin-top: 5px;
  line-height: 120%;
  text-align: right;
  padding-right: 20px;
}

#paging {
  overflow: auto;
}

#paging a {
  float: right;
  margin: 10px 10px 10px 20px;
  font-size: 0.9em;
}

div.update-content span.title {
  color: #587058;
}

#flash a {
  text-decoration: underline;
}

#services {
  font-size: 0.9em;
  margin-top:15px;
  line-height: 1.4em;
}

ul#services li.hidden {
  display: none;
}

#show_all_services {
  color:#7E7E7E;
}
