{% extends "base.html" %}

{% load social_extras %}
{% load photos_extras %}

{% block title %}{{ title }} - Home{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="/media/css/home.css" />

<script type="text/javascript" src="/media/js/jquery.lightbox-0.5.min.js"></script>
<link rel="stylesheet" href="/media/css/photos.css" />
<link rel="stylesheet" type="text/css" href="/media/css/jquery.lightbox-0.5.css" media="screen" />
<script type="text/javascript">
$(function() {
  $('.photos a').lightBox({fixedNavigation:true, imageLoading:'/media/img/lightbox/lightbox-ico-loading.gif',imageBtnPrev:'/media/img/lightbox/lightbox-btn-prev.gif',imageBtnNext:'/media/img/lightbox/lightbox-btn-next.gif',imageBtnClose:'/media/img/lightbox/lightbox-btn-close.gif',imageBlank:'/media/img/lightbox/lightbox-blank.gif'});
});
</script>

{% endblock %}
{% block main_content %}

{% include 'home/intro.html' %}

<ul class="photos">
{% for photo in photos %}
  <li class="photo">
    <a href="{{photo|flickr_photo}}">
      <img width="{{photo.data.width_sq}}" height="{{photo.data.height_sq}}" src="{{photo.data.url_sq}}" />
    </a>
  </li>
{% endfor %}
</ul>

{% include 'home/content.html' %}

<h2><a href="{% url social_by_typ 'post' %}">Posts</a></h2>
<div id="posts">
{% for post in posts %}
  <div class="post update">
    <div class="pre-update">{{ post.pub_date|date:"d/m A" }}</div>
    <div class="icon-update"><img src="/media/img/pen.png" width="16" height="16" /></div>
    <div class="update-content">
      <a href="{{ post.data.url }}" class="title">{{ post.data.title }}</a>
    </div>
  </div>  
  <hr />
{% endfor %}
</div>


<h2><a href="{% url social %}">Lifestream</a></h2>
<div id="lifestream">
{% include 'social/stream.html' %}
</div>

{% endblock %}

