<ul class="types">
<li><a href="{% url social %}" title="Show all lifestream events"><img src="/media/img/home.png" width="16" height="16" /></a></li>
<li><a href="{% url social_by_typ 'bookmark' %}" title="Show all bookmark updates"><img src="/media/img/bookmark.png" width="16" height="16" /></a></li>
<li><a href="{% url social_by_typ 'photos' %}" title="Show all photo updates"><img src="/media/img/photography.png" width="16" height="16" /></a></li>
<li><a href="{% url social_by_typ 'collab' %}" title="Show all collaboration updates"><img src="/media/img/collaboration.png" width="16" height="16" /></a></li>
<li><a href="{% url social_by_typ 'fav' %}" title="Show all favorites"><img src="/media/img/heart.png" width="16" height="16" /></a></li>
<li><a href="{% url social_by_typ 'post' %}" title="Show all blog posts"><img src="/media/img/pen.png" width="16" height="16" /></a></li>
<li><a href="{% url social_by_typ 'status' %}" title="Show all status updates"><img src="/media/img/twitter.png" width="16" height="16" /></a></li>
<li><a href="{% url social_by_typ 'goal' %}" title="Show all goals"><img src="/media/img/check.png" width="16" height="16" /></a></li>
<li><a href="{% url social_by_typ 'comment' %}" title="Show all comments"><img src="/media/img/comment.png" width="16" height="16" /></a></li>
<li><a href="{% url social_by_typ 'book' %}" title="Show all reading updates"><img src="/media/img/library.png" width="16" height="16" /></a></li>
<li><a href="{% url social_by_typ 'program' %}" title="Show all programs"><img src="/media/img/process.png" width="16" height="16" /></a></li>
<li><a href="{% url social_by_typ 'travel' %}" title="Show all tarvelling updates"><img src="/media/img/world.png" width="16" height="16" /></a></li>
<li><a href="{% url social_by_typ 'community' %}" title="Show all community activity"><img src="/media/img/community.png" width="16" height="16" /></a></li>
<!--
<li><a href="{% url social_by_typ 'wish' %}" title="Show wishlist items only"><img src="/media/img/basket.png" width="16" height="16" /></a></li>
-->
<li><a href="{% url social_by_typ 'exam' %}" title="Show exams only"><img src="/media/img/finished-work.png" width="16" height="16" /></a></li>
</ul>
