{% extends "base.html" %}

{% load social_extras %}

{% block main_content %}
<div id="main">
  <div id="content_wrapper">
    <div id="content">
      {% block social_content %}{% endblock %}
    </div>
  </div>
  <div id="sidebar_wrapper">
    <div id="sidebar">
      <h2 class="title">{{ title }}</h2>
      <ul id="links">
        {% for link in social.links %}
          <li class="link"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <p class="box">
      {% if elapsed > 10 %}<a href="{% url update %}" title="Update all services at once">Feed</a> me, i'm hungry.
      {% else %}Don't <a href="{% url update %}" title="Update all services at once">feed</a> me, i'm {% if elapsed < 3 %}really{% endif %} not hungry.
      {% endif %}
      Last meal: {% if elapsed > 1 %}{{ elapsed }} minutes ago.{% else %}{% if elapsed > 0 %}{{ elapsed }} minute ago.{% else %} i'm still chewin'!{% endif %}{% endif %}
      </p>
    </div>
  </div>
</div>
{% endblock %}


