{% extends "base.html" %}

{% load social_extras %}

{% block main_content %}
{% block social_content %}{% endblock %}
{% endblock %}

{% block sidebar_extra %}
      <ul id="links" class="links">
        {% for link in social.links %}
          <li class="link"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <div class="box">
        <form action="{% url search_with_param %}" method="get">
          <input type="text" value="{{ query }}" id="searchbox" class="search" name="search" />
          <input type="submit" style="display: none;" value="Search" id="searchbox_button" class="searchbox_button" />
        </form>
      </div>
      <ul class="types">
        <li><a href="{% url social %}" title="Show all"><img src="/media/img/home.png" width="16" height="16" /></a></li>
        <li><a href="{% url social_by_typ 'bookmark' %}" title="Show bookmarks only"><img src="/media/img/bookmark.png" width="16" height="16" /></a></li>
        <li><a href="{% url social_by_typ 'photos' %}" title="Show photo updates only"><img src="/media/img/photography.png" width="16" height="16" /></a></li>
        <li><a href="{% url social_by_typ 'collab' %}" title="Show collaboration events only"><img src="/media/img/collaboration.png" width="16" height="16" /></a></li>
        <li><a href="{% url social_by_typ 'fav' %}" title="Show favs only"><img src="/media/img/heart.png" width="16" height="16" /></a></li>
        <li><a href="{% url social_by_typ 'post' %}" title="Show blog posts only"><img src="/media/img/pen.png" width="16" height="16" /></a></li>
        <li><a href="{% url social_by_typ 'status' %}" title="Show status updates only"><img src="/media/img/twitter.png" width="16" height="16" /></a></li>
        <li><a href="{% url social_by_typ 'comment' %}" title="Show comments only"><img src="/media/img/comment.png" width="16" height="16" /></a></li>
        <li><a href="{% url social_by_typ 'book' %}" title="Show books only"><img src="/media/img/library.png" width="16" height="16" /></a></li>
        <li><a href="{% url social_by_typ 'program' %}" title="Show programs only"><img src="/media/img/process.png" width="16" height="16" /></a></li>
        <li><a href="{% url social_by_typ 'travel' %}" title="Show tarvelling only"><img src="/media/img/world.png" width="16" height="16" /></a></li>
        <li><a href="{% url social_by_typ 'wish' %}" title="Show wishlist items only"><img src="/media/img/basket.png" width="16" height="16" /></a></li>
        <li><a href="{% url social_by_typ 'exam' %}" title="Show exams only"><img src="/media/img/finished-work.png" width="16" height="16" /></a></li>
      </ul>
      <p class="box">
      {% if elapsed > 10 %}<a href="{% url update %}" title="Update all services at once">Feed</a> me, i'm hungry.
      {% else %}Don't <a href="{% url update %}" title="Update all services at once">feed</a> me, i'm {% if elapsed < 3 %}really{% endif %} not hungry.
      {% endif %}
      {% if elapsed < 1 %}I'm still chewing!{% else %}
      Last meal: {% if elapsed > 1 %}{{ elapsed }} minutes ago.{% else %}{{ elapsed }} minute ago.{% endif %}
      {% endif %}
      </p>
      <p class="sidenote"><a id="show_feed_note" href="javascript:return false">How does this work?</a></p>
      <div id="feed_note" style="display:none;">
        <p>Clicking 'feed' starts a background job which checks all configured services to see if there's anything new.</p>
        <p>If a service wasn't checked for updates for a configured period of time, then a new update for that service will be scheduled. If not, the service is skipped for this round of update checking.</p>
        <p>Note that it can take a couple of minutes before all services are updated. For now, you'll also have to refresh the page yourself to see the updates.</p>
      </div>
      <p class="box">Currently aggregating the following services:</p>
      <ul class="links">
        {% for service in social.services %}
          {% if not service.props_dict.hide %}
          <li class="link"><a href="{% url social_by_service service.name %}">{{ service.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
<script type="text/javascript">
$(document).ready(function(){
  $("a#show_feed_note").click(function(event){
    if ($('div#feed_note').is(':hidden'))
      $('div#feed_note').fadeIn("slow");
    else
      $('div#feed_note').fadeOut("slow");
  });
});
</script>
{% endblock %}

