{% extends "base.html" %}

{% load social_extras %}

{% block main_content %}
<div id="main">
  <div id="content_wrapper">
    <div id="content">
      {% block social_content %}{% endblock %}
    </div>
  </div>
  <div id="sidebar_wrapper">
    <div id="sidebar">
      <h2 class="title"><a href="{% url social %}">{{ title }}</a></h2>
      <ul id="links">
        {% for link in social.links %}
          <li class="link"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <ul class="types">
        <li><a href="{% url social %}" title="Show all"><img src="/media/img/world.png" width="16" height="16" /></a></li>
        <li><a href="{% url social 'bookmark' %}" title="Show bookmarks only"><img src="/media/img/bookmark.png" width="16" height="16" /></a></li>
        <li><a href="{% url social 'photos' %}" title="Show photo updates only"><img src="/media/img/photography.png" width="16" height="16" /></a></li>
        <li><a href="{% url social 'collab' %}" title="Show collaboration events only"><img src="/media/img/collaboration.png" width="16" height="16" /></a></li>
        <li><a href="{% url social 'fav' %}" title="Show favs only"><img src="/media/img/heart.png" width="16" height="16" /></a></li>
        <li><a href="{% url social 'post' %}" title="Show blog posts only"><img src="/media/img/pen.png" width="16" height="16" /></a></li>
        <li><a href="{% url social 'status' %}" title="Show status updates only"><img src="/media/img/twitter.png" width="16" height="16" /></a></li>
        <li><a href="{% url social 'comment' %}" title="Show comments only"><img src="/media/img/comment.png" width="16" height="16" /></a></li>
        <li><a href="{% url social 'book' %}" title="Show books only"><img src="/media/img/library.png" width="16" height="16" /></a></li>
        <li><a href="{% url social 'program' %}" title="Show programs only"><img src="/media/img/process.png" width="16" height="16" /></a></li>
      </ul>
      <p class="box">
      {% if elapsed > 10 %}<a href="{% url update %}" title="Update all services at once">Feed</a> me, i'm hungry.
      {% else %}Don't <a href="{% url update %}" title="Update all services at once">feed</a> me, i'm {% if elapsed < 3 %}really{% endif %} not hungry.
      {% endif %}
      Last meal: {% if elapsed > 1 %}{{ elapsed }} minutes ago.{% else %}{% if elapsed > 0 %}{{ elapsed }} minute ago.{% else %} i'm still chewin'!{% endif %}{% endif %}
      </p>
      <p class="sidenote" style="margin-top: 50px;">Created with <a href="http://www.djangoproject.com/">Django</a>, check out the <a href="http://github.com/sdb/sdb">source code</a>.</p>
      <p class="sidenote">Thanks: <a href="http://www.python.org/">Python</a>, <a href="http://www.djangoproject.com/">Django</a>, <a href="http://pc.de/icons/#Dortmund">PC.DE Dortmund Icon Set</a>, <a href="http://github.com/">GitHub</a></p>
    </div>
  </div>
</div>
{% endblock %}


