{% load social_extras %}

{% for update in object_list %}
  {% if update.typ = 'photos' %}
    <div class="photos update">
      <div class="pre-update">{{ update.pub_date|date:"d/m A" }}</div>
      <div class="icon-update"><img src="/media/img/photography.png" width="16" height="16" /></div>
      <ul class="update-content">
        {% for item in update.data|slice:"-5:" %}
          <li>
            <a href="{{ item.url }}"><img class="thumb" src="{{ item.thumb }}" height="75px" width="75px" /></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if update.typ = 'status' %}
    <div class="status update">
      <div class="pre-update">{{ update.pub_date|date:"d/m A" }}</div>
      <div class="icon-update"><img src="/media/img/twitter.png" width="16" height="16" /></div>
      <div class="update-content">
        <span class="title">{{ update.data.title|encode_status }}</span>
        <a href="{{ update.data.url }}"><img class="open-link" src="/media/img/open.png" width="12" height="12" /></a>
      </div>
    </div>
  {% endif %}
  {% if update.typ = 'bookmark' %}
    <div class="bookmark update">
      <div class="pre-update">{{ update.pub_date|date:"d/m A" }}</div>
      <div class="icon-update"><img src="/media/img/bookmark.png" width="16" height="16" /></div>
      <div class="update-content">
        <a href="{{ update.data.url }}" class="title"><span>{{ update.data.title }}</span></a>
        {% if update.data.desc %}
        <div class="desc">{{ update.data.desc|safe }}</div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if update.typ = 'fav' %}
    <div class="fav update">
      <div class="pre-update">{{ update.pub_date|date:"d/m A" }}</div>
      <div class="icon-update"><img src="/media/img/heart.png" width="16" height="16" /></div>
      <div class="update-content">
        {% if update.service.name = 'twitter' %}
          <span class="title">{{ update.data.title|encode_status }}</span>
          <a href="{{ update.data.url }}"><img class="open-link" src="/media/img/open.png" width="12" height="12" /></a>
        {% else %}
          {% if update.service.name = 'flickr' %}
            <a href="{{ update.data.url }}" class="title">{{ update.data.title }}</a>
            <div class="desc">
              <p><a title="{{ update.data.title }}" href="{{ update.data.url }}"><img src="{{ update.data.thumb }}" alt="{{ update.data.title }}"></a></p>
              <p>{{ update.data.desc|safe }}</p>
            </div>
          {% else %}
            <a href="{{ update.data.url }}" class="title">{{ update.data.title }}</a>
            {% if update.service.name = 'vimeo' %}
              <div class="desc">{{ update.data.desc|safe }}</div>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if update.typ = 'post' %}
    <div class="post update">
      <div class="pre-update">{{ update.pub_date|date:"d/m A" }}</div>
      <div class="icon-update"><img src="/media/img/pen.png" width="16" height="16" /></div>
      <div class="update-content">
        <a href="{{ update.data.url }}" class="title">{{ update.data.title }}</a>
      </div>
    </div>
  {% endif %}
  {% if update.typ = 'collab' %}
    <div class="collab update">
      <div class="pre-update">{{ update.pub_date|date:"d/m A" }}</div>
      <div class="icon-update"><img src="/media/img/collaboration.png" width="16" height="16" /></div>
      <div class="update-content">
        <span class="title">{{ update.data.title|encode_status }}</span>
        <a href="{{ update.data.url }}"><img class="open-link" src="/media/img/open.png" width="12" height="12" /></a>
        <div class="desc">{{ update.data.desc|safe }}</div>
      </div>
    </div>
  {% endif %}
  {% if update.typ = 'comment' %}
    <div class="comment update">
      <div class="pre-update">{{ update.pub_date|date:"d/m A" }}</div>
      <div class="icon-update"><img src="/media/img/comment.png" width="16" height="16" /></div>
      <div class="update-content">
        <span class="title">{{ update.data.title }}</span>
        {% if update.data.url %}
        <a href="{{ update.data.url }}"><img class="open-link" src="/media/img/open.png" width="12" height="12" /></a>
        {% endif %}
        <div class="desc">{{ update.data.desc|safe }}</div>
      </div>
    </div>
  {% endif %}
  {% if update.typ = 'program' %}
    <div class="comment update">
      <div class="pre-update">{{ update.pub_date|date:"d/m A" }}</div>
      <div class="icon-update"><img src="/media/img/process.png" width="16" height="16" /></div>
      <div class="update-content">
        <span class="title">I started using <a href="{{ update.data.url }}">{{ update.data.title }}</a></span>
      </div>
    </div>
  {% endif %}
  {% if update.typ = 'travel' %}
    <div class="comment update">
      <div class="pre-update">{{ update.pub_date|date:"d/m A" }}</div>
      <div class="icon-update"><img src="/media/img/world.png" width="16" height="16" /></div>
      <div class="update-content">
        <span class="title">Trip to <a href="{{ update.data.url }}">{{ update.data.title }}</a></span>
      </div>
    </div>
  {% endif %}
  {% if update.typ = 'book' %}
    <div class="book update">
      <div class="pre-update">{{ update.pub_date|date:"d/m A" }}</div>
      <div class="icon-update"><img src="/media/img/library.png" width="16" height="16" /></div>
      <div class="update-content">
        <span class="title">{{ update.data.title }}</span>
        <a href="{{ update.data.url }}"><img class="open-link" src="/media/img/open.png" width="12" height="12" /></a>
        <div class="desc">{{ update.data.desc|safe }}</div>
      </div>
    </div>
  {% endif %}
  {% if update.typ = 'scrobble' %}
    <div class="scrobble update">
      <div class="pre-update">{{ update.pub_date|date:"d/m A" }}</div>
      <div class="icon-update"><img src="/media/img/scrobble.png" width="16" height="16" /></div>
      <div class="update-content">
        <span class="title">{{ update.data.artist }} - {{ update.data.title }}</span>
        <a href="{{ update.data.url }}"><img class="open-link" src="/media/img/open.png" width="12" height="12" /></a>
      </div>
    </div>
  {% endif %}
  {% if update.typ = 'wish' %}
    <div class="wish update">
      <div class="pre-update">{{ update.pub_date|date:"d/m A" }}</div>
      <div class="icon-update"><img src="/media/img/basket.png" width="16" height="16" /></div>
      <div class="update-content">
        <span class="title">{{ update.data.title }}</span>
        <a href="{{ update.data.url }}"><img class="open-link" src="/media/img/open.png" width="12" height="12" /></a>
        <div class="desc">{{ update.data.desc|safe }}</div>
      </div>
    </div>
  {% endif %}
  {% if update.typ = 'exam' %}
    <div class="exam update">
      <div class="pre-update">{{ update.pub_date|date:"d/m A" }}</div>
      <div class="icon-update"><img src="/media/img/finished-work.png" width="16" height="16" /></div>
      <div class="update-content">
        <span class="title">Succeeded exam <a href="{{ update.data.url }}">{{ update.data.title }}</a></span>
        <div class="desc">{{ update.data.desc|safe }}</div>
      </div>
    </div>
  {% endif %}
  {% if update.typ = 'community' %}
    <div class="community update">
      <div class="pre-update">{{ update.pub_date|date:"d/m A" }}</div>
      <div class="icon-update"><img src="/media/img/community.png" width="16" height="16" /></div>
      <div class="update-content">
        <span class="title">{{ update.data.title }}</span>
        <a href="{{ update.data.url }}"><img class="open-link" src="/media/img/open.png" width="12" height="12" /></a>
        <div class="desc">{{ update.data.desc|safe }}</div>
      </div>
    </div>
  {% endif %}
  <hr />
{% endfor %}
