{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Admin' %}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/media/css/admin.css" />
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Admin' %}</h1>
{% endblock %}

{% block nav-global %}
<div id="navigation">
<ul>
<li><a href="{% url admin:index %}">Admin</a></li>
<li><a href="{% url index %}">Site</a></li>
<li><a href="{% url update %}?redirect={{ request.path }}">Update</a></li>
</ul>
</div>{% endblock %}
