<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://gmpg.org/xfn/11">
  <link rel="shortcut icon" href="{{ favicon }}">
  <link rel="stylesheet" href="/media/css/style.css" />
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("jquery", "1.4.2");
  </script>
  <title>{% block title %}{{ title }}{% endblock %}</title>
  {% block head_extra %}{% endblock %}
</head>

<body>
<div id="main">
  <div id="content_wrapper">
    <div id="content">
      {% if messages %}
      <ul id="flash">
        {% for message in messages %}<li class="flash">{{ message|safe }}</li>{% endfor %}
      </ul>
      {% endif %}
      {% block main_content %}{% endblock %}
    </div>
  </div>
  <div id="sidebar_wrapper">
    <div id="sidebar">
      <h2 class="title"><a href="{% url index %}">{{ title }}</a></h2>
      <ul class="links">
        <li class="link"><a href="/">Home</a></li>
        <li class="link"><a href="{% url about %}">About</a></li>
        <li class="link"><a href="{% url contact %}">Contact</a></li>
        <li class="link"><a href="{% url social %}">Stream</a></li>
        {% if blog %}
        <li class="link"><a href="{{ blog }}">Blog</a></li>
        {% endif %}
        {% if request.user.is_staff %}
        <li class="link"><a href="{% url admin:index %}">Admin</a></li>
        {% endif %}
      </ul>
      <ul id="links" class="links">
        {% for link in social.links %}
          <li class="link"><a href="{{ link.url }}" rel="me">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      {% block sidebar_extra %}{% endblock %}
      <p class="sidenote" style="margin-top: 50px;">Created with <a href="http://www.djangoproject.com/">Django</a>, check out the <a href="http://github.com/sdb/sdb">source code</a>.</p>
      <p class="sidenote">Thanks: <a href="http://www.python.org/">Python</a>, <a href="http://www.djangoproject.com/">Django</a>, <a href="http://pc.de/icons/#Dortmund">PC.DE Dortmund Icon Set</a>, <a href="http://github.com/">GitHub</a></p>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
{% if messages %}
  $('ul#flash').click(function(event){
    $('ul#flash').fadeOut("slow");
  });
{% endif %}
});
</script>

</body>
</html>

